[Install]
WantedBy=multi-user.target

[Unit]
Description=Google Cloud Compute Engine SQL Proxy

[Service]
Type=simple
WorkingDirectory=/run/cloudsql
{% if gcs_proxy_credential_file %}
ExecStart=/usr/local/bin/cloud_sql_proxy -dir=/run/cloudsql -instances={{ gcs_proxy_instances }}=tcp:3306 -credential_file={{ gcs_proxy_credential_file }}
{% else %}
ExecStart=/usr/local/bin/cloud_sql_proxy -dir=/run/cloudsql -instances={{ gcs_proxy_instances }}=tcp:3306
{% endif %}
Restart=always
StandardOutput=journal
User=gcsql_proxy
