[Install]
WantedBy=multi-user.target

[Unit]
Description=Google Cloud Compute Engine SQL Proxy

[Service]
Type=simple
WorkingDirectory=/run/cloudsql
ExecStart=/usr/local/bin/cloud_sql_proxy -dir=/run/cloudsql -instances={{ gcs_proxy_instances }} -credential_file={{ gcs_proxy_credential_file }}
Restart=always
StandardOutput=journal
User=gcsql_proxy
