[Install]
WantedBy=multi-user.target

[Unit]
Description=Google Cloud Compute Engine SQL Proxy

[Service]
Type=simple
ExecStartPre=-/usr/bin/mkdir /var/run/gcsql_proxy
ExecStartPre=/usr/bin/chown gcsql_proxy.gcsql_proxy /var/run/gcsql_proxy
WorkingDirectory=/var/run/gcsql_proxy
{% if gcs_proxy_credential_file %}
ExecStart=/usr/local/bin/cloud_sql_proxy -dir=/var/run/gcsql_proxy -instances={{ gcs_proxy_instances }}=tcp:3306 -credential_file={{ gcs_proxy_credential_file }}
{% else %}
ExecStart=/usr/local/bin/cloud_sql_proxy -dir=/var/run/gcsql_proxy -instances={{ gcs_proxy_instances }}=tcp:3306
{% endif %}
Restart=always
StandardOutput=journal
User=gcsql_proxy
